.container {
    margin: 1em;
}

.param-container {
    overflow: hidden;
}

.param-group {
    float: left;
    border: 1px solid #ccc;
    padding: 1em;
    margin-right: 1em;
}

.param-group h2 {
    margin-top: 0;
}

.param-group label {
    display: block;
}

footer {
    margin-top: 1em;
}
